<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <form action="test/register" method="post">
        姓名：<input type="text" name="name"> <br>
        年龄：<input type="text" name="age"> <br>
        <input type="submit" value="注册">
    </form>
    <hr>
    <form action="test/find" method="post">
        年龄上限：<input type="text" name="age">
        <input type="submit" value="查询">
    </form>
    <hr>
    <form action="test/findId" method="post">
        id：<input type="text" name="id">
        <input type="submit" value="查询">
    </form>
    <hr>
    <a href="test/count">查询总人数</a>
</body>
</html>